@keyframes expand {
    from {
        width: 1px;
    }
    to {
        width: 100%;
    }
}

@keyframes wave {
    0%, 40%, 100% {transform: translateY(0);}
    20%{transform: translateY(-15px);}
    60%{transform: translateY(-5px);}
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

.topic {
    font-weight:1000;
    animation: wave 1.5s ease-in-out infinite;
}

.topic:nth-child(1) {animation-delay: 0.1s;}
.topic:nth-child(2) {animation-delay: 0.13s;}
.topic:nth-child(3) {animation-delay: 0.16s;}
.topic:nth-child(4) {animation-delay: 0.19s;}
.topic:nth-child(5) {animation-delay: 0.22s;}
.topic:nth-child(6) {animation-delay: 0.25s;}
.topic:nth-child(7) {animation-delay: 0.28s;}
.topic:nth-child(8) {animation-delay: 0.31s;}